$primaryColor:#DB2727;
$accentColor:  #4B4F50;
$secondaryColor: #ffffff;

body {
    font-family: sans-serif;
    font-size: 25px;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.gridItem {
    text-align: center;
    border: 4px solid $primaryColor;
    background: $secondaryColor;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 125px 125px 125px 125px 125px 125px;
  grid-gap: 30px;
} 

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    max-width: 225px;
}

.checked {
    background: $accentColor;
    color: $secondaryColor;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid black;
  background-image: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png);
  background-repeat: no-repeat;
  background-position: 95% center;
  width: 300px;
}	

@media (max-width: 920px) {
    body {
        font-size: 14px;
    }

    .container {
        grid-template-rows: 75px 75px 75px 75px 75px 75px;
        grid-gap: 5px;
    }

    .gridItem {
        border: 3px solid $primaryColor;
    }
}

@media (max-width: 490px) {
    body {
        font-size: 10px;
    }

    .gridItem {
        border: 2px solid $primaryColor;
    }

    // .container {
    //     grid-template-rows: 40px 40px 40px 40px 40px 40px;
    //     grid-gap: 0;
    // }
}